<div class="page-wrapper">
    <div class="container-fluid">            
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex animated fadeIn">
                            <div class="mr-auto">
                                <div class="form-group">                                  
                                    <h3 class="text-themecolor">Datos de Órdenes de Compra</h3>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <div class="form-group">
                                    <input id="input-search" type="text" class="form-control text-uppercase" name="texto_busqueda" [(ngModel)]="textoBusqueda" (input)="buscarOrdenesCompra()" placeholder="Buscar Órdenes" autocomplete="on">
                                </div>
                            </div>
                            <div class="ml-auto">
                                <div class="form-group d-flex">
                                    <select id="selectorTemporalidad" class="form-control text-uppercase">
                                        <option disabled selected>Temporalidad</option>
                                        <option value=1>Hoy</option>
                                        <option value=2>Esta Semana</option>
                                        <option value=3>Primer Quincena</option>
                                        <option value=4>Segunda Quincena</option>
                                        <option value=5>Este Mes</option>
                                    </select>
                                    <button type="button" (click)="imprimirReporte()" class="btn btn-primary"><i class="fa fa-print"></i>  Imprimir Reporte</button>                                                                              
                                </div>
                            </div>
                        </div>
                        
                        <div class="table-responsive animated fadeInDown">
                            <table class="table full-color-table full-primary-table hover-table">
                                <thead>
                                    <tr>
                                        <th>Folio</th>
                                        <th>Cliente</th>
                                        <th>Orden de Compra</th>
                                        <th>Fecha de Orden</th>
                                        <th>Fecha de Entrega</th>
                                        <th>Total de Pares</th>
                                        <th>No. Factura</th>
                                        <th>Ver más</th>
                                        <th>Remisión</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let orden of ordenesCompra | paginate: {itemsPerPage: 10, currentPage: p}">
                                        <td>{{orden.folio}}</td>
                                        <td>{{orden.codigo}}</td>
                                        <td>{{orden.orden_compra_c}}</td>
                                        <td>{{orden.fecha_orden}}</td>
                                        <td>{{orden.fecha_entrega}}</td>
                                        <td>{{orden.total_pares}}</td>
                                        <td>{{orden.facturaNo}}</td>
                                        <td> 
                                            <a (click)="verDetalles(orden.id);" class="btn btn-success">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a (click)="remisionar(orden.id);" class="btn btn-info">
                                                <i class="fa fa-file"></i>
                                            </a>
                                        </td>
                                    </tr>                                        
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
