<div class="page-wrapper">
    <div class="container-fluid animated fadeIn">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Registrar Remisión</h3>
            </div>
            <div class="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-body">
                            <h3 class="card-title">Solicitud de Datos de la Remisión</h3>
                            <form [formGroup]="remisionForm" (ngSubmit)="agregarRemision()">
                                <hr>

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Fecha de Remisión</label>
                                            <input type="text" class="form-control" name="fecha_remision"
                                                [(ngModel)]="fechaRemision" [ngModelOptions]="{standalone: true}" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Cliente</label>
                                            <select class="form-control text-uppercase" name="cliente_id" formControlName="cliente_id"
                                                (change)="getFolios(remisionForm.get('cliente_id')?.value);">
                                                <option value="" disabled>Seleccione un cliente</option>
                                                <option *ngFor="let datos of clientes" [value]="datos.id">
                                                    {{datos.codigo}}
                                                </option>
                                            </select>
                                            <div *ngIf="!isClienteSelected() && (remisionForm.get('cliente_id')?.dirty || remisionForm.get('cliente_id')?.touched)" class="text-danger">
                                                Falta rellenar cliente
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Folios</label>
                                            <div class="tags-container" formArrayName="folios">
                                                <div *ngFor="let datos of folios" class="tag" [class.selected]="isSelected(datos.folio)" (click)="toggleSelection(datos.folio)">
                                                    {{ datos.folio }}
                                                </div>
                                            </div>
                                            <div *ngIf="noFolios" class="text-danger">
                                                No hay folios que coincidan con el cliente
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="button" class="btn btn-success" (click)="agregarRemision();">
                                        <i class="fa fa-check"></i> Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
