<div class="page-wrapper">
    <div class="container-fluid">            
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex animated fadeIn">
                            <div class="mr-auto">
                                <div class="form-group">                                  
                                    <h3 class="text-themecolor">Detalle Orden de Compra</h3>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <div class="form-group">
                                    <button type="button" (click)="imprimirDetalles()" class="btn btn-primary"><i class="fa fa-print"></i>  Imprimir Detalles</button>                                                                              
                                </div>
                            </div>
                        </div>
                        
                    <div id="contdiv">
                        <table class="hover-table">
                            <tr *ngFor="let item of detalle.items1">
                                <th>FECHA</th><td>{{item.fecha_orden}}</td><th>FECHA DE ENTREGA</th><td>{{item.fecha_entrega}}</td>
                            </tr>
                            <tr *ngFor="let item of detalle.items1">
                                <th>CLIENTE</th><td>{{item.cliente}}</td><th>FOLIO</th><td>{{item.folio}}</td>
                            </tr>
                            <tr *ngFor="let item of detalle.items1">
                                <th>ORD/COMP</th><td>{{item.orden_compra_c}}</td><th>HORMA</th><td>{{item.horma}}</td>
                            </tr>
                            <tr *ngFor="let item of detalle.items1; let i = index">
                                <th>CAMBRILLÓN</th><td>{{item.cambrillon}}</td><th>MATERIAL</th><td>{{item.materiales}}</td>
                            </tr>
                            <tr *ngFor="let item of detalle.items1">
                                <th>MATRIZ</th><td>{{item.matriz}}</td><th>OBSERVACIONES</th><td>{{item.observaciones}}</td>
                            </tr>
                            <tr *ngFor="let item of detalle.items1">
                                <th class="no-border"></th><td class="no-border"></td>
                                <th>TOTAL DE PARES</th><td class="total-pares-numero">{{item.total_pares}}</td>
                            </tr>
                        </table>

                        <table class="miTabla">
                            <tr *ngFor="let item of puntosYcantidades; let i = index">
                                <ng-container *ngIf="i % 6 === 0">
                                    <td *ngFor="let j of [0, 1, 2, 3, 4, 5]">
                                        <div class="punto">{{puntosYcantidades[i + j].vista}}</div>
                                        <hr class="linea">
                                        <div class="cantidad">{{puntosYcantidades[i + j].cantidad}}</div>
                                    </td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                    <br>
                    
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-warning" (click)="llenarPuntosYcantidadesEditar();" data-toggle="modal" data-target=".example2-modal-lg"><i class="fa fa-edit"></i>Editar</button> 
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger" (click)="cancelarOrden(detalles);"><i class="fa fa-ban" ></i> Cancelar </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="modal fade example2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Modificar datos de la horma</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>

                            <div class="card">
                                <form>
                                    <div class="card-body">
                                        <div class="form-body">
                                            <div class="row p-t-20">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha de Orden</label>
                                                        <input type="text" class="form-control text-uppercase" name="fecha_orden" [(ngModel)]="detalle.items1[0].fecha_orden" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha de Entrega</label>
                                                        <input type="date" class="form-control text-uppercase" name="fecha_entrega" [(ngModel)]="detalle.items1[0].fecha_entrega" required>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Cliente</label>
                                                        <select class="form-control text-uppercase" name="cliente_id" [(ngModel)]="detalle.items1[0].cliente_id" (change)="getHormas(detalle.items1[0].cliente_id); seleccionarCliente(detalle.items1[0].cliente_id)" required>
                                                            <option value="" disabled >Seleccione un cliente</option>
                                                            <option *ngFor="let datos of clientes" value="{{datos.id}}">{{datos.codigo}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Folio</label>
                                                        <input type="text" class="form-control" name="folioMax" [(ngModel)]="detalle.items1[0].folio" readonly>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Orden de Compra del Cliente</label>
                                                        <input type="text"  class="form-control" name="countMax" [(ngModel)]="countMax" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Horma</label>
                                                        <select class="form-control text-uppercase" name="horma_id" [(ngModel)]="detalle.items1[0].horma_id" (change)="seleccionarHorma(detalle.items1[0].horma_id);" [disabled]="!detalle.items1[0].cliente_id || noHormas" required>
                                                            <option value="" disabled>Seleccione un horma</option>
                                                            <option *ngFor="let datos of hormas" value="{{datos.id}}">{{datos.nombre}}</option>
                                                        </select>
                                                        <div *ngIf="noHormas" class="text-danger">
                                                            No hay hormas que coincidan con el cliente
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Matriz</label>
                                                        <input type="text" class="form-control text-uppercase" name="matriz" [(ngModel)]="horma.matriz" [ngModelOptions]="{standalone: true}" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Cambrillón</label>
                                                        <input type="text" class="form-control text-uppercase" name="cambrillon" [(ngModel)]="horma.cambrillon" [ngModelOptions]="{standalone: true}" disabled>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Materiales</label>
                                                        <textarea type="text" class="form-control text-uppercase" name="materiales" [(ngModel)]="horma.materiales" [ngModelOptions]="{standalone: true}" disabled></textarea>
                                                    </div>
                                                </div>
                    
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Observaciones</label>
                                                        <textarea type="text" class="form-control text-uppercase" name="observaciones" [(ngModel)]="horma.observaciones" [ngModelOptions]="{standalone: true}" disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Total de Pares</label>
                                                        <input type="text" class="form-control" [(ngModel)]="detalle.items1[0].total_pares" name="total" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="row">
                                                <table class="miTabla2">
                                                  <tr *ngFor="let fila of puntosYcantidadesEditar; let i = index">
                                                    <td *ngFor="let item of fila; let j = index">
                                                      <div class="punto">{{item.vista}}</div>
                                                      <hr class="linea">
                                                      <input class="cantidad" [(ngModel)]="item.cantidad" name="cantidad{{i}}{{j}}" type="number" min="0" class="cantidad" (change)="calcularTotalPares()">
                                                    </td>
                                                  </tr>
                                                </table>
                                              </div>
                                            <div class="form-actions">
                                                <button class="btn btn-success" (click)="editarOrdenYdetalles();"><i class="fa fa-check" ></i> Guardar </button> 
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>